{ deps,
  [ { bson, "",       { git, "git://github.com/mongodb/bson-erlang", "v0.1.3" } },
    { json, "",       { git, "git://github.com/hio/erlang-json", "HEAD" } },
    { neotoma, "",    { git, "git://github.com/seancribbs/neotoma", "1.5" } }
  ]
}.
{neotoma_opts, [{transform_module, elk_transform}]}.